*.gzip
*.mzML
*.raw
*.DS_Store
*.xlsx
.snakemake/
.vscode/
*.raw
results/*
resources/*
!MS2_LIBRARYSEARCH_all_identifications.tsv
!GNPSExport.ini
!results/.gitkeep
!resources/ThermoRawFileParser/README.md
!resources/emptyfile.idXML
resources/MetaboliteIdentification.tsv
!resources/Sirius/README.md
*.zip
manualCLI/*
metadatanotebook.ipynb
READMEsnakemakeMacOSandLinux.md
__pycache__/*
.ipynb_checkpoints/*
old_results/*
CreateFeatureMetaboidentcsv.ipynb
workflow/scripts/OpenMSWF.py
*.sh
*.txt
workflow/report/logs/*
Data_analysis_complementary.ipynb